<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>Ejercicio 1</title>
</head>
<body>
<div class="container">
    <h2><strong>Calculo de Compras</strong></h2>
    <form method="post" class="centrado-form">
        <label for="nombre"<b>Ingresa tu nombre</b></label>
        <input type="text" name="nombre" required>
        <label for="edad">Ingresa tu edad</label>
        <input type="number" name="edad" required>
        <label for="tarros_pintura">Ingresa la cantidad de tarros de pintura a comprar</label>
        <input type="number" name="tarros_pintura" required>
        <button type="submit">Calcular</button>
    </form>
    {% if edad %}
    <div class="resultados">
        <p>Nombre del Cliente: {{nombre}}</p>
        <p>Total sin descuento: ${{total_sin_descuento}}</p>
        <p>El descuento es de: ${{total_descuento}}</p>
        <p>El total a pagar es de: ${{total_con_descuento}}</p>
    </div>
    {% endif %}
</div>
</body>
</html>


